<Configuration packages="">

    <Appenders>
        <File name="AppLog" fileName="target/logs/app.log" append="false">
            <PatternLayout>
                <Pattern>%d{yyyy-MM-dd HH:mm:ss} %-5p %m%n</Pattern>
            </PatternLayout>
        </File>
    </Appenders>

    <Loggers>
        <Root level="DEBUG">
            <AppenderRef ref="fout"/>
        </Root>
    </Loggers>

</Configuration>